In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import os

In [2]:
os.getcwd()

'E:\\jupyter\\loan'

In [6]:
#导入数据
df_bank_train = pd.read_csv('df_bank_train.csv')
df_bill_train=pd.read_csv('df_bill_train.csv' )   #账单记录表
df_browse_train=pd.read_csv('df_browse_train.csv') #浏览信息表
df_loan_train=pd.read_csv('df_loan_train.csv') #放款时间表
df_overdue_train=pd.read_csv('df_overdue_train.csv' ) #逾期记录表
df_user_train=pd.read_csv('df_user_train.csv')  #用户信息表


"""df_bank_test = pd.read_csv('df_bank_test.csv')
df_bill_test=pd.read_csv('df_bill_test.csv' )   #账单记录表
df_browse_test=pd.read_csv('df_browse_test.csv') #浏览信息表
df_loan_test=pd.read_csv('df_loan_test.csv') #放款时间表
#df_overdue_test=pd.read_csv('df_overdue_test.csv' ) #逾期记录表
df_user_test=pd.read_csv('df_user_test.csv')  #用户信息表"""

"df_bank_test = pd.read_csv('df_bank_test.csv')\ndf_bill_test=pd.read_csv('df_bill_test.csv' )   #账单记录表\ndf_browse_test=pd.read_csv('df_browse_test.csv') #浏览信息表\ndf_loan_test=pd.read_csv('df_loan_test.csv') #放款时间表\n#df_overdue_test=pd.read_csv('df_overdue_test.csv' ) #逾期记录表\ndf_user_test=pd.read_csv('df_user_test.csv')  #用户信息表"

In [11]:
#数据合并
df = pd.merge(left = df_bank_train, right= df_loan_train, how = 'left',on = 'user_id')
#how: One of ‘left’, ‘right’, ‘outer’, ‘inner’. 默认inner。

In [12]:
len(df.user_id.unique())

9294

In [13]:
df.head()

   user_id      time_x  loan_type  loan_amount  income      time_y
0     6965  5894316387          0    13.756664       0  5923841487
1     6965  5894321388          1    13.756664       0  5923841487
2     6965  5897553564          0    14.449810       0  5923841487
3     6965  5897563463          1    10.527763       0  5923841487
4     6965  5897564598          1    13.651303       0  5923841487

In [14]:
t=df[(df['time_x']<=df['time_y'])]#5684742
t.shape

(5684639, 6)

In [15]:
t.head()

   user_id      time_x  loan_type  loan_amount  income      time_y
0     6965  5894316387          0    13.756664       0  5923841487
1     6965  5894321388          1    13.756664       0  5923841487
2     6965  5897553564          0    14.449810       0  5923841487
3     6965  5897563463          1    10.527763       0  5923841487
4     6965  5897564598          1    13.651303       0  5923841487

In [16]:
gb1=t[(t['loan_type']==0)].groupby(["user_id"],as_index=False)#收入统计
gb2=t[(t['loan_type']==1)].groupby(["user_id"],as_index=False)#支出统计
gb3=t[(t['income']==1)].groupby(["user_id"],as_index=False)#工资收入统计
x1=gb1['loan_amount'].agg({'earningnum' : 'count','earningsum':'sum'})  #收入笔数   收入总额
x2=gb2['loan_amount'].agg({'expendnum' : 'count','expendsum':'sum'})    #支出笔数    支出总额
x3=gb3['loan_amount'].agg({'incomenum' : 'count','incomesum':'sum'})    #工资收入笔数    工资收入总额

In [17]:
df_bank_train1=pd.merge(t, x1,how='left', on = "user_id")
df_bank_train2=pd.merge(df_bank_train1, x2,how='left', on = "user_id")
#df_bank_train3=pd.merge(df_bank_train2, x3,how='left', on = "user_id")

In [18]:
df_bank_train2.shape

(5684639, 10)

In [19]:
df_bank_train3=pd.merge(df_bank_train2, x3,how='left', on = "user_id")
df_bank_train3.head()

,user_id,time_x,loan_type,loan_amount,income,time_y,earningnum,earningsum,expendnum,expendsum,incomenum,incomesum
0,6965,5894316387,0,13.756664,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN
1,6965,5894321388,1,13.756664,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN
2,6965,5897553564,0,14.449810,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN
3,6965,5897563463,1,10.527763,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN
4,6965,5897564598,1,13.651303,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN

In [23]:
df_bank_train['earningnum-expendnum']=df_bank_train3['earningnum']-df_bank_train3['expendnum']
df_bank_train['earningsum-expendsum']=df_bank_train['earningsum']-df_bank_train['expendsum']
df_bank_train['un_incomenum']=df_bank_train['earningnum']-df_bank_train['incomenum']
df_bank_train[' un_incomesum']=df_bank_train['earningsum']-df_bank_train['incomesum']
df_bank_train['incomenum*(earningnum-expendnum )']=df_bank_train['incomenum']*df_bank_train['earningnum-expendnum']
df_bank_train[' incomesum*(earningsum-expendsum )']=df_bank_train['incomesum']*df_bank_train['earningsum-expendsum']

KeyError: 'earningsum'

In [89]:
df_bank_train.head()

,user_id,time_x,loan_type,loan_amount,income,time_y,earningnum,earningsum,expendnum,expendsum,incomenum,incomesum,earningnum-expendnum,earningsum-expendsum,un_incomenum,un_incomesum,incomenum*(earningnum-expendnum ),incomesum*(earningsum-expendsum )
0,6965,5894316387,0,13.756664,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN
1,6965,5894321388,1,13.756664,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN
2,6965,5897553564,0,14.449810,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN
3,6965,5897563463,1,10.527763,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN
4,6965,5897564598,1,13.651303,0,5923841487,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN

In [90]:
df_bank_train.shape

(5684639, 18)

In [91]:
df_bank_train.to_csv("bank_train.csv")

In [3]:
df_bank_train=pd.read_csv('bank_train.csv',index_col=0)

In [2]:
user2=pd.read_csv("user2.csv",index_col=0)

In [4]:
df_bank_train.head()

,user_id,earningnum,earningsum,expendnum,expendsum,incomenum,incomesum,earningnum-expendnum,earningsum-expendsum,un_incomenum,un_incomesum,incomenum*(earningnum-expendnum ),incomesum*(earningsum-expendsum )
0,6965,75.0,972.850228,288.0,3222.384745,NaN,NaN,-213.0,-2249.534517,NaN,NaN,NaN,NaN
363,1265,124.0,1695.142678,290.0,3610.695042,NaN,NaN,-166.0,-1915.552364,NaN,NaN,NaN,NaN
777,2583,213.0,2736.475318,618.0,7064.310678,NaN,NaN,-405.0,-4327.835360,NaN,NaN,NaN,NaN
1608,29165,189.0,2277.607807,473.0,5099.861165,14.0,202.630532,-284.0,-2822.253358,175.0,2074.977275,-3976.0,-571874.69937
2270,2443,252.0,3020.288782,341.0,3762.790364,NaN,NaN,-89.0,-742.501582,NaN,NaN,NaN,NaN

In [5]:
bank_train=pd.merge(left = df_bank_train, right= user2, how = 'inner',on = 'user_id')

In [6]:
bank_train.shape

(5298, 13)

In [9]:
bank_train.isnull().sum()

user_id                                  0
earningnum                               1
earningsum                               1
expendnum                                6
expendsum                                6
incomenum                             3524
incomesum                             3524
earningnum-expendnum                     7
earningsum-expendsum                     7
un_incomenum                          3524
 un_incomesum                         3524
incomenum*(earningnum-expendnum )     3524
 incomesum*(earningsum-expendsum )    3524
dtype: int64

In [12]:
bank_train=bank_train.fillna(0)

In [13]:
bank_train.isnull().sum()

user_id                               0
earningnum                            0
earningsum                            0
expendnum                             0
expendsum                             0
incomenum                             0
incomesum                             0
earningnum-expendnum                  0
earningsum-expendsum                  0
un_incomenum                          0
 un_incomesum                         0
incomenum*(earningnum-expendnum )     0
 incomesum*(earningsum-expendsum )    0
dtype: int64

In [14]:
bank_train.to_csv('bank_train.csv')